$paper-height: 94vh;
$paper-height-focused: 135vh;
// .bg-grad-white {
//   @apply bg-gradient-to-bl to-gray-300 from-white
// }
.bouncey {
  transition: all 0.4s cubic-bezier(0.525, -0.500, 0.360, 1.200) !important;
}
.paper-wrapper {
  @apply flex items-center;

  .paper-container {
    height: $paper-height; // 80% of the viewport height
    width: calc($paper-height * (8.5 / 11)); // Maintain 8.5x11 aspect ratio based on height
    // border: 1px solid #ccc;
    position: relative;
    box-sizing: border-box;
    margin-right: 2vw;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    @extend .bouncey;
    &.focused {
      height: $paper-height-focused;
      width: calc($paper-height-focused * (8.5 / 11));
    }
    &:hover { box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
    &::before,
    &::after {
      content: "";
      height: 98%;
      position: absolute;
      width: 100%;
      z-index: -1;
      transition: transform 0.3s;
    }

    &::before {
      background: #ffffff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      left: -5px;
      top: 4px;
      transform: rotate(-5.9deg);
    }

    &::after {
      background: #ffffff;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      right: -3px;
      top: 1px;
      transform: rotate(2.4deg);
    }
    &:hover {
      &::before,
      &::after {
        transform: rotate(0deg);
      }
    }

    .paper-content {
      // @extend .bg-grad-white;
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;
      @apply bg-white;
    }
  }
}