// @import 'tailwindcss/base';
// @layer base {
//   :root {
//     --accent-1: #cd5f5a
//   }
// }

.resume-1 {
  section {
    padding: 1rem;
    transition: all 2s ease-out;
  }
  &.focused {
    section {
      padding: 1.5rem;
    }
  }
}
