@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$base-font-size: 16px;

html {
  font-size: $base-font-size;
}

body {
  font-size: 14px;
}


// 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900
@mixin roboto($weight) {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

// 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900
@mixin montserrat($weight) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

.montserrat {
  @include montserrat(400);
}

h1 { @apply text-5xl font-bold; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }

p, a {
  // @include roboto(100);
  @apply font-light leading-[1.7rem];
  &.f {
    @apply text-xs md:text-xl font-normal text-center text-neutral-400 mt-4 max-w-lg mx-auto;
  }
  // line-height: 1.5rem;
  // &.sm {
  //   font-size: 0.8rem;
  //   line-height: 1.15rem;
  // }
  // &.key { @apply opacity-60; }
  // &.value {}
}