//  /$$$$$$$$ /$$ /$$   /$$
// |__  $$__/|__/| $$  | $$
//    | $$    /$$| $$ /$$$$$$
//    | $$   | $$| $$|_  $$_/
//    | $$   | $$| $$  | $$
//    | $$   | $$| $$  | $$ /$$
//    | $$   | $$| $$  |  $$$$/
//    |__/   |__/|__/   \___/
[data-tilter=true] {
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
  // transition: transform 1s 0.2s;
  [tilt-inner=true] {
    transform: translateZ(-50px);
    display: block;
  }
  &:hover {
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  &.disable-tilt {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1) !important;
  }
}